<ul class="full_screen_pic">
  <li style="background-image: url('{{Background}}');">
    <div class="content">
      <div class="animation_1"><img alt="" src="{{Image}}" /></div>
      <div class="title animation_2">{{Title}}</div>
      <div id="nextPage"></div>
	  {{!--
      <div class="banner_socials animation_3"><a href="#"><img alt="" src="/portals/35/home5_banner_social1.png" /></a><a href="#"><img alt="" src="/portals/35/home5_banner_social2.png" /></a><a href="#"><img alt="" src="/portals/35/home5_banner_social3.png" /></a><a href="#"><img alt="" src="/portals/35/home5_banner_social4.png" /></a><a href="#"><img alt="" src="/portals/35/home5_banner_social5.png" /></a></div>
	  --}}
    </div>
  </li>
</ul>