<div class="oc-boxes {{Settings.TopPadding}} {{Settings.BottomPadding}} {{Settings.CssClass}}">
<div class="horizontalTab_Top horizontalTab_Top_6 animation scaleUp">
  <ul class="resp-tabs-list">
    <li class="home5Tab_color1"><span class="glyphicons glyph-adjust"></span><span>About</span></li>
    <li class="home5Tab_color2"><span class="glyphicons glyph-power"></span><span>Services</span></li>
    <li class="home5Tab_color3"><span class="glyphicons glyph-compass"></span><span>Features</span></li>
    <li class="home5Tab_color4"><span class="glyphicons glyph-clock"></span><span>Products</span></li>
  </ul>
  <div class="resp-tabs-container">
    <div class="resp_container">
      <div class="resp_margin">
        <div class="home5Tab1">
          <div class="row">
            <div class="col-sm-4 clearfix">
              <div class="home5Tab1_left">
                <div class="home5Tab_icon1"><span class="glyphicons glyph-tint"></span></div>
              </div>
              <div class="home5Tab1_right">
                <h5>Full Support</h5>
                <p>Donec consectetur diam ac nibhauct  ultricies. Integer mauris lacus, consed atin luctu semper sed felis.</p>
                <a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199">Read More  ></a> </div>
            </div>
            <div class="col-sm-4 clearfix">
              <div class="home5Tab1_left">
                <div class="home5Tab_icon1"><span class="glyphicons glyph-keys"></span></div>
              </div>
              <div class="home5Tab1_right">
                <h5>DNN Modules</h5>
                <p>Donec consectetur diam ac nibhauct  ultricies. Integer mauris lacus, consed atin luctu semper sed felis.</p>
                <a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199">Read More  ></a> </div>
            </div>
            <div class="col-sm-4 clearfix">
              <div class="home5Tab1_left">
                <div class="home5Tab_icon1"><span class="glyphicons glyph-cogwheels"></span></div>
              </div>
              <div class="home5Tab1_right">
                <h5>Customized Settings</h5>
                <p>Donec consectetur diam ac nibhauct  ultricies. Integer mauris lacus, consed atin luctu semper sed felis.</p>
                <a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199">Read More  ></a> </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 clearfix">
              <div class="home5Tab1_left">
                <div class="home5Tab_icon1"><span class="glyphicons glyph-conversation"></span></div>
              </div>
              <div class="home5Tab1_right">
                <h5>Make Comments</h5>
                <p>Donec consectetur diam ac nibhauct  ultricies. Integer mauris lacus, consed atin luctu semper sed felis.</p>
                <a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199">Read More  ></a> </div>
            </div>
            <div class="col-sm-4 clearfix">
              <div class="home5Tab1_left">
                <div class="home5Tab_icon1"><span class="glyphicons glyph-briefcase"></span></div>
              </div>
              <div class="home5Tab1_right">
                <h5>Web Design</h5>
                <p>Donec consectetur diam ac nibhauct  ultricies. Integer mauris lacus, consed atin luctu semper sed felis.</p>
                <a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199">Read More  ></a> </div>
            </div>
            <div class="col-sm-4 clearfix">
              <div class="home5Tab1_left">
                <div class="home5Tab_icon1"><span class="glyphicons glyph-drink"></span></div>
              </div>
              <div class="home5Tab1_right">
                <h5>Unlimited Colors</h5>
                <p>Donec consectetur diam ac nibhauct  ultricies. Integer mauris lacus, consed atin luctu semper sed felis.</p>
                <a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199">Read More  ></a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resp_container">
      <div class="resp_margin">
        <div class="home5Tab2 text-center">
          <div class="home5Tab_head">
            <h4>Customized Temlpate And Services</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla comm odo. Maecenas ornare, augue ut ultricies tristique, enim lectus pretium quam, quis bibendum metus tellus sedeu dolor lacuseu sapien eros enatis at dapibus.</p>
          </div>
          <div class="home5Tab2_chart row">
            <div class="col-lg-2 col-sm-4 col-xs-6">
              <div data-percent="65" class="percentage2">
                <div class="percentage_inner"><span>0</span>%</div>
              </div>
              <h6>Dnn Skin</h6>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
              <div data-percent="97" class="percentage2">
                <div class="percentage_inner"><span>0</span>%</div>
              </div>
              <h6>Dnn Module</h6>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
              <div data-percent="48" class="percentage2">
                <div class="percentage_inner"><span>0</span>%</div>
              </div>
              <h6>Template</h6>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
              <div data-percent="80" class="percentage2">
                <div class="percentage_inner"><span>0</span>%</div>
              </div>
              <h6>Skin Pack</h6>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
              <div data-percent="75" class="percentage2">
                <div class="percentage_inner"><span>0</span>%</div>
              </div>
              <h6>Dnn Store</h6>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
              <div data-percent="62" class="percentage2">
                <div class="percentage_inner"><span>0</span>%</div>
              </div>
              <h6>Photoshop</h6>
            </div>
          </div>
          <p><a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199" class="home5Tab2_btn">Custom It</a><a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199" class="home5Tab2_btn">View Details</a></p>
        </div>
      </div>
    </div>
    <div class="resp_container">
      <div class="resp_margin">
        <div class="home5Tab3 text-center">
          <div class="home5Tab_head">
            <h4>Founctional & Countless Features</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec eros eget nisl fringilla comm odo. Maecenas ornare, augue ut ultricies tristique, enim lectus pretium quam, quis bibendum metus tellus sedeu dolor lacuseu sapien eros enatis at dapibus.</p>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="home5Tab_icon2"><span class="glyphicons glyph-display"></span></div>
              <h5>Clean Design</h5>
              <p>Donec consectetur diam ac nibhauct  ultricies. Integer mauris lacus, consed atin luctu semper.</p>
              <a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199">Read More  ></a> </div>
            <div class="col-sm-3">
              <div class="home5Tab_icon2"><span class="glyphicons glyph-resize-full"></span></div>
              <h5>Responsive</h5>
              <p>Donec consectetur diam ac nibhauct  ultricies. Integer mauris lacus, consed atin luctu semper.</p>
              <a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199">Read More  ></a> </div>
            <div class="col-sm-3">
              <div class="home5Tab_icon2"><span class="glyphicons glyph-camera"></span></div>
              <h5>Photo Gallery</h5>
              <p>Donec consectetur diam ac nibhauct  ultricies. Integer mauris lacus, consed atin luctu semper.</p>
              <a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199">Read More  ></a> </div>
            <div class="col-sm-3">
              <div class="home5Tab_icon2"><span class="glyphicons glyph-pie-chart"></span></div>
              <h5>Clean Design</h5>
              <p>Donec consectetur diam ac nibhauct  ultricies. Integer mauris lacus, consed atin luctu semper.</p>
              <a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199">Read More  ></a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resp_container">
      <div class="resp_margin">
        <div class="home5Tab4">
          <div class="row">
            <div class="col-sm-7">
              <div class="home5Tab_head">
                <h4>Functional and powerful skin</h4>
              </div>
              <div class="home5Tab4_left clearfix"><span>1</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium dolore mque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
              </div>
              <div class="home5Tab4_left clearfix"><span>2</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium dolore mque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
              </div>
              <p><a target="blank" href="http://store.dnnsoftware.com/home/product-details/packageid/34330/r/7ab93d48c5e846d6b199" class="home5Tab4_btn Button_default">Buy This Theme</a></p>
            </div>
            <div class="col-sm-5"> <img alt="" src="/portals/35/home5_pic1.jpg" class="img-responsive" /> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>