<div class="oc-boxes {{Settings.TopPadding}} {{Settings.BottomPadding}} {{Settings.CssClass}}">
<section class="topa pt40 row">
    <div class="col-md-9 col-sm-12">
        <div class="topa_left">
            <h6 class="topa_lefttitle">HAVE AN IDEA? WE&rsquo;RE HERE TO HELP YOU MANAGE YOUR Business</h6>
            Our skins and modules are user friendly, powerful and easy to install and definitely will help make your site stand out. also our developers are improving the modules and releasing new versions of existing DNN modules constantly. 
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="topa_right Button_style4"> <span class="glyphicons glyph-shopping-cart tope"></span>Purchase This Theme </div>
    </div>
</section>
</div>